{% extends 'base.html' %}

{% block styles %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'styles/app.scss' %}">
{% endblock styles %}

{% block scripts %}
{% script 'app' %}
{% endblock scripts %}

{% block content %}
<nav class="navigation">
  <div class="masthead">
  <a href="https://amsat.org">
    <span><img class="logo" src="{% static 'assets/images/amsat.png' %}" width=30 height=30></span>
    <span>AMSAT</span>
  </a>
  </div>
</nav>
<article class="container">
  <header>
    <h1 class="headline">{{ meta.headline }}</h1>
    <div class="attribution">
        {% set comma = joiner() %}
        <p class="byline">
          By {%- for author in meta.byline -%}
          {% if not loop.last %}{{ comma() }}{% elif not loop.first %} and{% endif %} <span class="author" itemscope itemtype="http://schema.org/Person"><a itemprop="url" href="{{ author.url }}">{{ author.name }}</a></span>
          {%- endfor -%}
        </p>
    </div>
  </header>
  <section>
    {% for p in copy.body %}
        <p class="prose">{{ p.value }}</p>
    {% endfor %}
    <div id="table-container"></div>
  </section>
  <section class="sources">
    <p>Sources: <a href="http://www.ne.jp/asahi/hamradio/je9pel/">JE9PEL</a>, <a href="https://github.com/palewire/amateur-satellite-database">KFØIA</a>, <a href="https://db.satnogs.org/">SatNOGS</a></p>
    <p>Note: Data drawn from the SatNOGS database is freely available under a <a href="https://creativecommons.org/licenses/by-sa/4.0/"> Creative Commons Atribution-Share Alike v4.0</a> license.</p>
  </section>
</article>
<footer class="footer">
  <section>
    <p>Ⓒ Copyright {{ NOW|date('y') }}. All Rights Reserved.</p>
    <p><a href="https://amsat.org/">amsat.org</a> | <a href="http://www.amsat.org/wordpress/wp-admin">login</a></p>
  </section>
</footer>
{% endblock content %}
