$font-family-headline: 'Open Sans', sans-serif;
$font-family-body: 'Source Sans Pro', sans-serif;
$font-family-table: 'Source Sans Pro', sans-serif;

$font-weight-headline: 700;
$font-weight-body: 400;
